<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<mapping class="com.elecnor.issue.tracker.bean.ApplicationDirectory" />
		<mapping class="com.elecnor.issue.tracker.bean.ApplicationModuleDirectory" />
		<mapping class="com.elecnor.issue.tracker.bean.AssigneeProfile" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueCommentsTracking" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueRelatedDocument" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueStatusTracking" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueTrackerLookup" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueTrackerMaster" />
		<mapping class="com.elecnor.issue.tracker.bean.LineChart" />
		<mapping class="com.elecnor.issue.tracker.bean.ActivityStreamDirectory" />
		<mapping class="com.elecnor.issue.tracker.bean.IssueDocumentsMapping" />
		<mapping class="com.file.handler.bean.FileUploadBean"/>
		<mapping class="com.email.utility.bean.EmailNotificationBean" />
		<mapping class="com.email.utility.bean.EmailAttachmentBean" />
	</session-factory>

</hibernate-configuration>
